<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sg.edu.nus.imovin2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="sg.edu.nus.imovin2.System.ImovinApplication"
        android:allowBackup="false"
        android:icon="@mipmap/imovin_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="sg.edu.nus.imovin2.Services.MonitorConnectionService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="sg.edu.nus.imovin2.Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sg.edu.nus.imovin2.Activities.OauthResponseActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauthcallback"
                    android:scheme="imovin" />
            </intent-filter>
        </activity>
        <activity
            android:name="sg.edu.nus.imovin2.Activities.DashBoardActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="sg.edu.nus.imovin2.Activities.ChallengePopupActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="sg.edu.nus.imovin2.Activities.ForumNewPostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="sg.edu.nus.imovin2.Activities.NewCommentActivity"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="sg.edu.nus.imovin2.Activities.NewSocialCommentActivity"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="sg.edu.nus.imovin2.Activities.ForumCommentActivity" />
        <activity
            android:name="sg.edu.nus.imovin2.Activities.SocialNewPostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="sg.edu.nus.imovin2.Activities.SocialContentActivity" />
        <activity
            android:name="sg.edu.nus.imovin2.Activities.AddPlanActivity"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="sg.edu.nus.imovin2.Activities.MonitorChangePlanActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="sg.edu.nus.imovin2.Activities.MonitorDetailActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="sg.edu.nus.imovin2.Activities.ConsentDocActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="sg.edu.nus.imovin2.Activities.ConsentSignActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="sg.edu.nus.imovin2.Activities.QuestionnaireActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="sg.edu.nus.imovin2.Activities.QuestionnaireSummaryActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="sg.edu.nus.imovin2.Activities.QuestionnaireDocActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="sg.edu.nus.imovin2.Activities.RewardsCheckoutActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="sg.edu.nus.imovin2.Activities.RewardsCalendarActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="sg.edu.nus.imovin2.Activities.RewardsCheckoutConfirmActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="sg.edu.nus.imovin2.Activities.RewardsRedeemSuccessActivity"
            android:theme="@style/Theme.Transparent" />
        <activity android:name="sg.edu.nus.imovin2.Activities.SingleVideoActivity" />
    </application>

</manifest>